{% extends './templates/base.template.twig' %}

{% block content %}
    {% block header %}
        <div class="container-fluid p-3 #fff text-black text-center rounded">
            <h1>dnd inventory manager</h1>
            <h4>Welcome aboard!</h4>
        </div>
    {% endblock %}

    {% block body %}

        <ul>
        {% for character in characters %}
            <div class="character-block">
            <li><p class="character-{{ character.name }}">{{ character.name }} has:</p></li>
            <ul>
            {% for container in character.containers %}
                <li><p class="bag-{{ container.name }}">{{ container.name }} has:</p></li>
                <ul>
                {% for item in container.items %}
                    <li><p class="item-{{ item.name }}">
                            <span class="item-name">{{ item.name }}</span>
                            X
                            <span class="item-quantity">{{ item.quantity}}</span>
                            <span class="btn-span">
                                <form method="post">
                                    <input type="submit" name="btn-add-{{ character.name }}-{{ container.name }}-{{ item.name }}" value="+">

                                    <input type="submit" name="btn-remove-{{ character.name }}-{{ container.name }}-{{ item.name }}" value="-">
                                </form>
                            </span>
                        </p>
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
            </div>
        {% endfor %}

        </ul>

    {% endblock %}
{% endblock %}
